{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="es" class="">
  <head>
    <title>{% block title %}PET CLINIC{% endblock %}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- HTMX -->
    <script src="https://unpkg.com/htmx.org@2.0.4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/htmx.org@2.0.4/dist/ext/ws.js"></script>

    <!-- JQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.slim.min.js"></script>

    <!-- Alpine JS -->
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">

    <!-- Boxicons -->
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css">

    <!-- Select2 -->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet"/>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <!-- Flatpickr -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

    <!-- Toastify -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>

    <!-- CSS personalizado -->
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% tailwind_css %}
  </head>
  <body>
    <div class="container">
      <div class="flex flex-col items-center justify-center min-h-screen py-2">
        {% block content %}
            <h1 class="text-4xl font-bold text-center">PET CLINIC</h1>
        {% endblock %}
      </div>
    </div>
  </body>
</html>